
/* 
Colour key!

#011 bg color; 
#0d8 for large bright blocks
#ffa titles!
#0fa text
#044 element highlight bg
#088 dim borders 

*/

/* 
Font Key!
Code segments
font-family: 'Cutive Mono', monospace;

General text
font-family: 'Open Sans', sans-serif;

Titles
font-family: 'Oxanium', cursive;

*/

:root{
    --code-font: 'Cutive Mono';
    --general-font: 'Open Sans';
    --title-font: 'Oxanium';

    --text-font-size: 1rem;

    --nav-height: 50px;
    --neg-nav-height: -50px;
}

.theme-electric-blueberry{
    --bg-color: #000811;
    --bg-highlight-color: #023;
    
    --title-color: #0fa;
    --text-color: #0ba;
    --conditional-text-highlight-color: #fff;
    
    --border-color: #077;
    --border-highlight-color: #0fa;
    
    --footer-bg-color: #0d8;
    --footer-text-color: #022;
}
.theme-fresh-mint {
    --bg-color: #fdffff;
    --bg-highlight-color: #bbeedd;
    
    --title-color: #0d8;
    --text-color: #085;
    --conditional-text-highlight-color: #fff;
    
    --border-color: #0b8;
    --border-highlight-color: #0fa;
    
    --footer-bg-color: #0fa;
    --footer-text-color: #fdffff;
}
.theme-raspberry-jam {    
    --bg-color: #140008;
    --bg-highlight-color: #402;
    
    --title-color: #f58;
    --text-color: #d34;
    --conditional-text-highlight-color: #fff;
    
    --border-color: #a03;
    --border-highlight-color: #d04;
    
    --footer-bg-color: #d04;
    --footer-text-color: #140008;
}
.theme-wildberry-yoghurt {
    --bg-color: #fee;
    --bg-highlight-color: #fdd;
    
    --title-color: #f79;
    --text-color: #a46;
    --conditional-text-highlight-color: #fff;
    
    --border-color: #faa;
    --border-highlight-color: #e77;
    
    --footer-bg-color: #c68;
    --footer-text-color: #fdffff;
}
.theme-marmalade-tang {
    --bg-color: #110800;
    --bg-highlight-color: #530;
    
    --title-color: #f50;
    --text-color: #f80;
    --conditional-text-highlight-color: #fff;
    
    --border-color: #840;
    --border-highlight-color: #d60;
    
    --footer-bg-color: #f60;
    --footer-text-color: #110800;
}
.theme-honey-nut {
    --bg-color: #fed;
    --bg-highlight-color: #fdb;
    
    --title-color: #fa0;
    --text-color: #a50;
    --conditional-text-highlight-color: #fff;
    
    --border-color: #eb8;
    --border-highlight-color: #fd7;
    
    --footer-bg-color: #fd7;
    --footer-text-color: #a50;
}

body {
    background-color: var(--bg-color);

    font-family: var(--general-font), sans-serif;
    color: var(--text-color);

    text-align: justify;
    font-size: 1rem;
}
h1 {
    font-size: 3rem;
    font-family: var(--title-font), cursive;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--title-color);
}
h2 {
    font-size: 2rem;
    font-family: var(--title-font), cursive;
    font-weight: normal;
    color: var(--title-color);
}
h5 {
    text-align: right;
    font-weight: lighter;
    color: var(--title-color);
}
a {
    text-decoration: none;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Nav bar */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-color);
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
}
.nav-list-item {
    /* float: left; */
    display: inline-block;
}
.nav-list-link {
    /* 
    padding: 10px 30px 10px 30px;
    display: inline-block;
    */
    display: block;
    width: 100px;
    /* height: 50px; */
    text-align: center;
    line-height: var(--nav-height);
    color: var(--text-color);
    text-decoration: none;
}
@media (max-width: 460px){
    .nav-list-link{
        width: 90px;
    }
}
@media (max-width: 440px){
    .nav-list-link{
        width: 80px;
    }
}
@media (max-width: 410px){
    .nav-list-link{
        width: 70px;
    }
}
@media (max-width: 360px){
    .nav-list-link{
        width: 60px;
    }
}
@media (max-width: 340px){
    .nav-list-link{
        width: 50px;
    }
}

.nav-list-link:hover {
    background-color: var(--text-color);
    color: var(--conditional-text-highlight-color);
}
.active {
    background-color: var(--border-highlight-color);
    color: var(--conditional-text-highlight-color); /* flipping the text and bg colors for feedback */
}
/* end od Nav bar */

/* theme properties */
.theme-container {
    display: block;
    width: 150px;
    height: var(--nav-height);
    float: right;
    margin-top: var(--neg-nav-height);
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.theme-tab {
    display: block;
    float: right;
    width: 150px;
    /* height: var(--nav-height); */
    text-align: center;
    line-height: var(--nav-height);
    color: var(--text-color);
}
.theme-buttons {
    display: none;
}
.theme-buttons button {
    width: 155px;
    height: 0.6 * var(--nav-height);
    text-align: left;
    line-height: var(--nav-height);
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 0;
    border-left: solid 5px;
    /* border-bottom: 1px solid; */
    font: inherit;
}

.theme-buttons button.active {
    /* background-color: var(--bg-highlight-color); */
    border-color: var(--title-color);
    color: var(--title-color);
}

.theme-container:hover .theme-buttons {
    display: block;
    /* border-left: solid 5px; */
    /* border-bottom: solid 1px; */
}
.theme-tab:hover {
    background-color: var(--text-color);
    color: var(--conditional-text-highlight-color);
}
.theme-buttons button:hover {
    background-color: var(--text-color);
    color: var(--conditional-text-highlight-color);
    border-left: var(--text-color);
}

.profile-pic {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-color: var(--border-highlight-color); /* bright borders are nice */
    border-width: 5px;
    border-style: solid;
    border-radius: 25%;
}
.profile-icon {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: -10px;
    width: 30px;
    border-width: 3px;
    border-style: solid;
    border-radius: 25%;
}

.header {
    text-align: center;
    /* color: var(--text-color); */
    /* margin-bottom: 65px; */
}

.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: var(--bg-color);
    /* background-blend-mode: multiply; */
    background-blend-mode: overlay;
    
    padding-top: 5%;
    padding-bottom: 5%;
}

.blog-preview-title {
    display: inline-block;
}
.blog-preview-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.blog-preview-article{
    border-style: solid;
    border-width: 2px;
    border-color: var(--border-color);
    border-radius: 20px;
    
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    color: var(--text-color);
}
.blog-preview-article:hover {
    background-color: var(--bg-highlight-color);
    
    border-style: solid;
    border-width: 2px;
    border-color: var(--border-highlight-color);
    border-radius: 20px;
}

.body-text {
    margin-left: 25%;
    margin-right: 25%;
}
@media (max-width: 1200px){
    .body-text {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (max-width: 1024px){
    .body-text {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media (max-width: 768px){
    .body-text {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (max-width: 480px){
    .body-text {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.code-excerpt {
    font-family: var(--code-font), monospace;
    background-color: var(--bg-highlight-color);
    
    padding: 0px;
    
    border-style: solid;
    border-width: 2px;
    border-color: var(--border-color);
    border-radius: 4px;
}

.page-content-ender {
    margin-top: 30px;
    margin-bottom: 30px;
}

.back-to-top {
    display: block;
    width: 100px;
    float: right;
    margin-top: 30px;
    
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--border-highlight-color);
    
    position: -webkit-sticky;
    position: sticky;
    bottom: 50px;

    background-color: var(--bg-color);
}
.back-to-top:hover {
    background-color: var(--border-highlight-color);
}
.back-to-top a {
    display: block;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
}
.back-to-top a:hover {
    color: var(--conditional-text-highlight-color);
}

.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    margin: 100px 0 0 0;
}
.footer h2 {
    color: var(--footer-text-color);
}


