
/* 
Colour key!

#011 bg color; 
#0d8 for large bright blocks
#ffa titles!
#0fa text
#044 element highlight bg
#088 dim borders 

*/

/* 
Font Key!
Code segments
font-family: 'Cutive Mono', monospace;

General text
font-family: 'Open Sans', sans-serif;

Titles
font-family: 'Oxanium', cursive;

*/

:root{
    /* Neon theme colors */
    --bg-color: #011;
    --bg-highlight-color: #044;
    --dim-border-color: #088;
    --dim-highlight-color: #0d8;
    --text-color: #0fa;
    --conditional-text-highlight-color: #fff;

    --code-font: 'Cutive Mono';
    --general-font: 'Open Sans';
    --title-font: 'Oxanium';
}


body {
    background-color: var(--bg-color);

    font-family: var(--general-font), sans-serif;
    color: var(--text-color);

    text-align: justify;
}
h1 {
    font-size: 28pt;
    font-family: var(--title-font), cursive;
    font-weight: 600;
    text-transform: uppercase;
}
h2 {
    font-size: 18pt;
    font-family: var(--title-font), cursive;
    font-weight: normal;

}
h5 {
    text-align: right;
    font-weight: lighter;
}
a {
    text-decoration: none;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Nav bar */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-color);
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
}
.nav-list-item {
    /* float: left; */
    display: inline-block;
}
.nav-list-link {
    /* 
    padding: 10px 30px 10px 30px;
    display: inline-block;
    */
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: var(--text-color);
    text-decoration: none;
}
.nav-list-link:hover {
    background-color: var(--text-color);
    color: var(--conditional-text-highlight-color);
}
.active {
    background-color: var(--dim-highlight-color);
    color: var(--bg-color); /* flipping the text and bg colors for feedback */
}
/* end od Nav bar */

.profile-pic {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-color: var(--text-color); /* bright borders are nice */
    border-width: 5px;
    border-style: solid;
    border-radius: 25%;
}
.profile-icon {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: -10px;
    width: 30px;
    border-width: 3px;
    border-style: solid;
    border-radius: 25%;
}

.header {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 65px;
}

.blog-preview-title {
    display: inline-block;
}
.blog-preview-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.blog-preview-article{
    border-style: solid;
    border-width: 2px;
    border-color: var(--dim-border-color);
    border-radius: 20px;

    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    color: var(--text-color);
}
.blog-preview-article:hover {
    background-color: var(--bg-highlight-color);

    border-style: solid;
    border-width: 2px;
    border-color: var(--dim-highlight-color);
    border-radius: 20px;
}

.body-text {
    margin-left: 20%;
    margin-right: 20%;
}
.code-excerpt {
    font-family: var(--code-font), monospace;
    background-color: var(--bg-highlight-color);
    
    padding: 2px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--dim-border-color);
    border-radius: 4px;
}

.page-content-ender {
    margin-top: 30px;
    margin-bottom: 30px;
}

.back-to-top {
    display: block;
    width: 100px;
    float: right;
    margin-top: 30px;

    border-width: 2px;
    border-style: solid;
    border-radius: 10px;

    position: -webkit-sticky;
    position: sticky;
    bottom: 50px;
}
.back-to-top:hover {
    background-color: var(--dim-highlight-color);
}
.back-to-top a {
    display: block;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
}
.back-to-top a:hover {
    color: var(--conditional-text-highlight-color);
}

.footer {
    background-color: var(--dim-highlight-color);
    color: var(--bg-color);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    margin: 100px 0 0 0;
}